.App {
	text-align: center;
	min-height: 100vh;
}

.wrap {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todo-complete {
	text-decoration: line-through;
	color: teal;
}