.App {
	text-align: center;
	max-width: 600px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 20px;
	background-color: #fbe6c2;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

}

input:not([type='checkbox']) {
	padding: 10px;
	width: 70%;
	font-size: 16px;
}

button {
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

ul {
	min-width: 400px;
	display: flex;
	justify-content: center;
	align-items: space-between;
	flex-direction: column;
	list-style: none;
	padding: 0;
}

li {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

li span {
	cursor: pointer;
}

.todo-complete {
	text-decoration: line-through;
	color: teal;
}